
.vs/fileInfoExtract/DesignTimeBuild/.dtbcache.v2
.vs/fileInfoExtract/FileContentIndex/b05a77ae-dee8-47cb-8faa-263ea9c38b17.vsidx
.vs/fileInfoExtract/FileContentIndex/dc8908cf-0abd-4f49-a51e-c63e2f9e6956.vsidx
.vs/fileInfoExtract/FileContentIndex/read.lock
.vs/fileInfoExtract/v17/.suo
.vs/ProjectEvaluation/fileinfoextract.metadata.v5.2
.vs/ProjectEvaluation/fileinfoextract.projects.v5.2
obj/Debug/netcoreapp3.1/apphost.exe
obj/Debug/netcoreapp3.1/fileInfoExtract.assets.cache
obj/Debug/netcoreapp3.1/fileInfoExtract.csproj.AssemblyReference.cache
obj/Debug/netcoreapp3.1/fileInfoExtract.GeneratedMSBuildEditorConfig.editorconfig
obj/fileInfoExtract.csproj.nuget.dgspec.json
obj/fileInfoExtract.csproj.nuget.g.props
obj/fileInfoExtract.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
.vs/fileInfoExtract/FileContentIndex/447ba62b-9ff7-450c-8eb9-823a730aad09.vsidx
obj/Debug/netcoreapp3.1/apphost.exe
obj/Debug/netcoreapp3.1/fileInfoExtract.assets.cache
obj/Debug/netcoreapp3.1/fileInfoExtract.csproj.AssemblyReference.cache
obj/fileInfoExtract.csproj.nuget.dgspec.json
obj/fileInfoExtract.csproj.nuget.g.props
obj/fileInfoExtract.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
.vs
obj